**/*.pyc
pivotal_env/*
evaluating-probes/activation_cache/*
evaluating-probes/results/*
evaluating-probes/datasets/cleaned/*
evaluating-probes/datasets/original/*
*.zip
runpod_cli
runpod_cli/*
**/.ipynb_checkpoints
evaluating-probes/src/.ipynb_checkpoints/*
.env
evaluating-probes/logs
evaluating-probes/mask/*
evaluating-probes/sae_cache/
evaluating-probes/visualizations*/
evaluating-probes/results/